alembic==1.8.1
anyio==3.6.1
asyncmy
factory-boy==3.2.1
fastapi==0.78.0
passlib==1.7.4
pre-commit==2.20.0
PyMySQL==1.0.2
pytest==7.1.2
python-jose==3.3.0
redis==4.3.4
requests==2.28.1
SQLAlchemy==1.4.39
uvicorn==0.18.2
